*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    height: 300vh;
    background: #fdfbfb; background: -moz-linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%); background: -webkit-linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%); background: linear-gradient(-121deg,  #fdfbfb 0%,#eaedee 100%);
    text-decoration:none;
}
.title{
    display: flex;
    justify-content: center;
    font-family:Verdana;
    height: 100px;
    width: 500px;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes text-focus-in {
    0% {
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      filter: blur(0px);
      opacity: 1;
    }
  }
#btn{
    display: flex;
    justify-content: center;
    align-items: center;   
     margin-top: 20vh;
}
.animated-bounce {

    background: #e0c4fc; background: -moz-linear-gradient(to bottom,  #e0c4fc 0%,#90c6fd 100%); background: -webkit-linear-gradient(to bottom,  #e0c4fc 0%,#90c6fd 100%); background: linear-gradient(to bottom,  #e0c4fc 0%,#90c6fd 100%);
	-moz-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:50px;
	padding:32px 76px;
	text-decoration:none;
	transition: 1s ; 
    box-shadow: 0px 22px 23px -10px #919191;
    animation:bounce-top .9s both;
}
@keyframes bounce-top {
    0% {
      transform: translateY(-45px);
      animation-timing-function: ease-in;
      opacity: 1;
    }
    24% {
      opacity: 1;
    }
    40% {
      transform: translateY(-24px);
      animation-timing-function: ease-in;
    }
    65% {
      transform: translateY(-12px);
      animation-timing-function: ease-in;
    }
    82% {
      transform: translateY(-6px);
      animation-timing-function: ease-in;
    }
    93% {
      transform: translateY(-4px);
      animation-timing-function: ease-in;
    }
    25%,
    55%,
    75%,
    87% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    100% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
      opacity: 1;
    }
  }
  
.animated-bounce p{
    color:#ffffff;
    animation: fade-out 3s cubic-bezier(0.785, 0.135, 0.150, 0.860) infinite alternate both;
}
@keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
}

.animated-bounce:active {
	position:relative;
	bottom:1px;
    transition: 9s;
    animation: none;
}
.animated-bounce p:active {
    transition: 9s;
    animation: none;
}

/*------------------*/
#btn3{
    display: flex;
    justify-content: center;
    align-items: center;   
     margin-top: 20vh;
}
.animated-stretch {
    background: rgb(164,151,137);
    background: linear-gradient(90deg, rgba(164,151,137,1) 0%, rgba(215,201,187,1) 10%, rgba(246,239,222,1) 50%, rgba(215,201,187,1) 90%, rgba(164,151,137,1) 100%);
	-moz-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	font-family:Verdana;
	font-size:50px;
	padding:32px 76px;
	text-decoration:none;
	transition: 1s ; 
    
}
.animated-stretch:hover{
    animation: stretch-1 3s ease-in-out infinite alternate both;
}
@keyframes stretch-1 {
    0% {
        transform: scaleX(1);
    }
    100% {
        transform: scaleX(2.5);
    }
  
  }
  
.animated-stretch p{
    color:#3f2710;
}

.animated-stretch:active {
	position:relative;
	bottom:1px;
    animation: none;
}
.animated-stretch p:active {
    animation: none;
}
/*-----------------------*/
#btn2{
    display: flex;
    justify-content: center;
    align-items: center;   
     margin-top: 20vh;
}
.animated-vibrate {

    background: #9e002f;
	-moz-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:50px;
	padding:32px 76px;
	text-decoration:none;
	transition: 1s ; 
    box-shadow: 0px 22px 23px -10px #919191;
    animation: none;
}
.animated-vibrate:hover{
    animation: vibrate-1 0.3s linear infinite both;
}
@keyframes vibrate-1 {
    0% {
      transform: translate(0);
      background: #9e002f;
    }
    20% {
      transform: translate(-2px, 2px);
    }
    40% {
      transform: translate(-2px, -2px);
    }
    60% {
      transform: translate(2px, 2px);
      background: #df2525;
    }
    80% {
      transform: translate(2px, -2px);
    }
    100% {
      transform: translate(0);
      background: #ff0000;
    }
  }
  
.animated-vibrate p{
    color:#ffffff;
}

.animated-vibrate:active {
	position:relative;
	bottom:1px;
    animation: none;
}
.animated-vibrate p:active {
    animation: none;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-7-29 15:40:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */